button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
button:hover {
  cursor: pointer;
}

.back {
  height: 100vh;
  background-color: wheat;
}

.buttons {
  text-align: center;
  padding-top: 50vh;
}

.pick {
  background-color: rgb(95, 255, 47);
  width: 100px;
  color: white;
  margin-top: 10px;
  margin-left: 50%;
}

.pick:hover {
  cursor: pointer;
}

#box {
  opacity: 0;
}
